:root {
    --main-color: #00FF26;
    --dark-green: #008F11;
    --light-green: #7FFF00;
    --bg-color: #0C261E;
    --text-color: #FFFFFF;
    --item-bg: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.product-image {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0 20px 20px 0;
}

h1 {
    color: var(--main-color);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    color: var(--text-color);
    line-height: 1.6;
    font-size: 1.1em;
    margin-bottom: 15px;
}

#paymentForm {
    margin-top: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

.payment-options {
    margin-bottom: 15px;
}

.payment-options label {
    display: block;
    margin-bottom: 5px;
}

#confirmPaymentBtn {
    background-color: var(--main-color);
    border: none;
    color: var(--bg-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(0, 255, 38, 0.3);
}

#confirmPaymentBtn:hover {
    background-color: var(--light-green);
}

